@import './base.css';

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  font-weight: normal;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: #42b883;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: #35495e;
  }
}

